.header-temperature {
  font-size: 80px;
  font-weight: bold;
  margin: 0 20px 0 0;
  float: left;
  color: #fff;
}
.units {
  margin-top: 10px;
  margin-left: -17px;
  position: absolute;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  cursor: pointer;
  color: #ff0199;
}

.header-icon img {
  width: 100px;
}

.current-weather {
  display: flex;
}

.weather-block {
  display: flex;
  flex: 1;
}
