input {
  border-radius: 10px;
}
.city-search {
  margin: 0 0 20px;
}
.search-form {
  display: flex;
  justify-content: center;
}
.search-form input {
  padding: 10px;
}

.text-input {
  margin-right: 13px;
  border: none;
  flex: 1;
  -webkit-appearance: none;
}
.button-input {
  background-color: #03b6d7;
  color: #fff;
  border: none;
}
.button-location {
  background-color: #ff0199;
  color: #fff;
  border: none;
  margin-left: 13px;
}
.search-wrapper {
  display: flex;
  flex: 1;
}
