.forecast {
  margin-top: 30px;
}
.weather-forecast-day{
  font-size: 15px;
}
.weather-forecast-temperature-min {
 opacity: 0.6;
 margin-left: 5px;
}
.forecast > .col {
  background-color: #93b2cb2b;
  border-radius: 10px;
  padding: 15px;
}

